/* #region main */
body{
  font-family: 'Roboto', sans-serif;
  color: var(--slate, #434455);
  font-style: normal;
  background: #FFF;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
img{
  display: block;
}
button:hover , button:focus{
background: var(--ocean, #404BBF);
}
.container { 
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* #endregion */
/* #region header */
header{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  border-bottom: 1px solid var(--cornflower, #E7E9FC);
}
header .container{
  display: flex;
  justify-content: space-between;
}

nav, .nav-list, .header-logo , .contacts-list {
  display: flex;
  align-items: center;
}

.nav-list, .contacts-list{
  gap: 40px;
  padding: 0;
}

.header-logo{
  color: var(--iris, #4D5AE5);
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.54px;
  line-height: 1.17;
  font-weight: 700;
  font-size: 18px;
  margin: 0 76px 0 0;
}
.header-logo-part{
  color: var(--navyblue, #2E2F42);
}
.header-nav-link{
  color: var(--navyblue, #2E2F42);
  padding: 24px 0;
}
.header-nav-link:hover , .header-nav-link:focus{
  color: var(--iris, #404BBF);
}
.contacts{
  font-style: normal;
}
.contacts-info{
  color: var(--slate, #434455);
  font-weight: 400;
}
.contacts-info:hover, .contacts-info:focus{
  color: var(--iris, #404BBF);
}
/* #endregion */
/* #region section main */
.section.main{
  background: var(--navyblue, #2E2F42); 
  padding: 188px 0;
}
.section.main .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-main-title{
  color: var(--white, #FFF);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
}
.section-main-button{
  background: var(--iris, #4D5AE5);
  cursor: pointer;
  letter-spacing: 0.64px;
  color: var(--white, #FFF);
  line-height: 1.5;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  padding: 16px 32px;
  border: 0;
  border-radius: 4px;
  min-width: 169px;
}
/* #endregion */
/* #region section benefits */
.section.benefits{
  padding: 120px 0;
}
.section-benefits-main-title{
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}
.section-benefits-list{
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  
}
.section-benefits-list li{
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 3 * 24px) / 4);
  }
.section-benefits-third-title{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--navyblue, #2E2F42);
  margin: 0 0 8px 0;
}
.section-benefits-text{
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin: 0;
}

/* #endregion */
/* #region section team */
.section.team{
  background: var(--cloud, #F4F4FD);
  
}

.section-team{
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}
.section-team-list{
  background-color:#FFFFFF;
}
.section-team-title{
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: var(--navyblue, #2E2F42);
  margin: 0 0 72px 0;

}
.section-team-photo-title{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  color: var(--navyblue, #2E2F42);
  margin-top: 32px;
  margin-bottom: 8px;
}
.section-team-photo-text{
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 0;
}
/* #endregion */
/* #region section portfolio */

.section-portfolio-title{
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: var(--navyblue, #2E2F42);
  margin: 0 0 72px 0;
}
.section-portfolio-list{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0;
}
.section-portfolio-list li{
  border: 1px solid var(--cornflower, #E7E9FC);
}
.section-portfolio-photo-title{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--navyblue, #2E2F42);
  margin: 32px 16px 8px 16px;
}
.section-portfolio-photo-text{
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin: 0 16px 32px 16px;
}
/* #endregion */
/* #region footer */
footer{
  background: var(--navyblue, #2E2F42);
  padding: 100px 0;
}
footer .container{
  margin: 0;
}
.footer-logo{
  display: inline-block;
  color: var(--iris, #4D5AE5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; 
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer-logo-part{
  color: var(--cloud, #F4F4FD);
}
.footer-text{
  color: var(--cloud, #F4F4FD);
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
}


/* #endregion */